{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Контакты — PROKAT-INSTRUMENT.KG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body { background-color: #f8f9fa; }
        .contact-card { border: none; border-radius: 15px; }
    </style>
</head>
<body>

<div class="container py-5">
    <a href="/" class="btn btn-outline-secondary mb-4">← Назад в каталог</a>

    <h1 class="fw-bold mb-4">Контакты</h1>

    <div class="card shadow-sm p-4 contact-card border-0">
        <h4 class="fw-bold mb-4">Главный офис</h4>

        <div class="row mb-3">
            <div class="col-sm-3 text-muted">Адрес:</div>
            <div class="col-sm-9 fw-bold">г. Бишкек, ул. Абая 77</div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3 text-muted">Телефон:</div>
            <div class="col-sm-9">
                <a href="tel:0508508500" class="text-decoration-none fw-bold text-dark">0508 508 500</a>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3 text-muted">Почта:</div>
            <div class="col-sm-9">
                <a href="mailto:bdante025@gmai.com" class="text-decoration-none text-dark">bdante025@gmai.com</a>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3 text-muted">Время работы:</div>
            <div class="col-sm-9 fw-semibold">Понедельник — Воскресенье: 08:00 – 18:00</div>
        </div>
    </div>

  <div class="mt-4 shadow-sm rounded overflow-hidden">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2925.3524671490214!2d74.59877781267595!3d42.845612671047545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb758a620e7e1%3A0x6b447781b0a70198!2z0YPQu9GM0YLQsCwgNzcsINCR0LjRiNC60LXQutCw!5e0!3m2!1sru!2skg!4v1716443187214!5m2!1sru!2skg"
        width="100%"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>